<h2> <%= @project.title %> </h2>
<% @project.todos.all.each do |todo| %>
    <p><%= todo.text %> <%= check_box('tag', todo.__id__, {checked: todo.isCompleted}) %></p>
<% end %>
<%= link_to 'Вернуться на главную страницу', projects_path %>